* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
    text-decoration: none;
    list-style: none;
}

.My__icon {
    height: 100vh;
    width: 100%;
    background-image: url(./иконка.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
    background: #141414;
    color: #FF7373;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141414;
    padding: 10px 12%;
    transition: all .50s ease;
    border-bottom: 2px solid #363636;
    border-radius: 40px;
    opacity: 0.9;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color:#FF0000;
    font-size: 56px;
    margin-right: 10px ;
}

.logo span {
    color: #FF0000;
    font-size: 3.4rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
   color: #FF7373;
   font-size: 2rem;
   font-weight: 500;
   padding: 5px 0px;
   margin: 0 30px;
   transition: all .50s ease;
}

.navbar a:hover {
    color:#FF0000;
}

.navbar a.active {
    color:#FF0000;
}

#menu-icon {
    font-size: 35px;
    color: #FF7373;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

.content {
 color: #FF4040;
 position: absolute;
 top: 35%;
 left: 8%;
 display: flex;
 padding: 0px 28px  ;
 flex-direction: column;
 align-items: center;
 transition: all .50s ease;
}

.content h1 {
    font-size: 50px;
    padding: 15px 0px;
}

.content h2  {
    text-align: center;
    text-decoration-line: underline;
    transition: all .50s ease;
    cursor: pointer;
}

.content a {
    color: #FF4040;

}

    .content h2:hover {
        color: #FF0000;
        transform: translateY(-5px);       
    }
    .content a:hover {
    color: #FF0000;
    transform: translateY(-5px); 
    }

    .skills {
        width: 100%;
    
    }

    .skills__title {
        color: #ff2929;
        font-size: 36px;
        font-weight: 400;
        padding: 10px;
        text-align: center;
    }

    .skills__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .category__container {
        display: flex;
        flex-direction: column;
        min-width: 32%;
        text-align: center;
    }

    .category__skill-list {
        margin: 15px;
        padding: 15px;
        color: #b9b9b9;
        background-color: #141414;
        border: #363636 5px solid;
        border-radius: 10px;
        text-align: center;
    }

    .skills_category-title {
        text-transform: uppercase;
    }

    .category__skill-list h3 {
        padding: 10px;
    }

    .skill_item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progress__bar {
        border-radius: 16px;
        min-width: 50%;
        height: 16px;
        background-color: #363636;
    }

    .progres-per{
        border-radius: 16px;
        height: 16px;
        background-color: #FF4040;
    }

    .html {
        width: 80%;
    }

    .css {
        width: 50%;
    }

    .js {
        width: 60%;
    }

    .react {
        width: 40%;
    }



    @media (max-width:850px) {
        header {
            padding: 14px 2%;
            transition: .2s;
        }
        .navbar a {
            padding: 10px 5px;
            margin: 0px 20px;
        }
    
        .My__icon {
            background-size: 80%;
            background-position: 40vh 10vh;
        }
    }
    
    @media(max-width:700px) {
        #menu-icon {
            display: block;
        }
    
    
        .logo span {
            font-size: 2.8rem;
            transition: all 0.50s ease;
        }
            .navbar {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 270px;
            height: 29vh;
            background: #FF0000;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all .50s ease;
        }
        .navbar a {
            display: block;
            padding: 0 60px;
            margin: 5px;
            transition: all 0.5s ease;
        }
        .navbar a:hover {
            color: #FF7373;
            transform: translateY(5px);
        }
        .navbar a.active {
            color: #FF7373;
        }
        .navbar.open {
            right: 2%;
        }
    }

@media (max-width:500px) {
     .My__icon {
        background-position: center;
    }
    
    .content {
        left: 0%;
        right: 0%;
        top: 15%;
        padding: auto;
        margin: auto;
    }
    
    .content h1 {
        font-size: 30px;
    }
    
    .skills__container {
        display: block;
    }

    .content h2 {
        font-size: 18px;
    }
}
